.containerHeader {
  /* border: 1px, solid, black; */
  font-family: "Mulish", sans-serif;
  height: 80px;
  align-items: center;
  background-color: white;
}

.containerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
